# Auto detect text files and perform LF normalization
* text=auto
aqui está uma lista de exercicios que meu professor passou na faculdade de ADS, sobre python, os 4 primeiros exercícíos são turtle então pode ignorar.
